<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-eF-E_T43y9eewlu-FyHlRmYmku83Mjo</string>
	<key>GCM_SENDER_ID</key>
	<string>484601710811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desafio.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>desafio-vigilancia-comun-6c0a4</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-vigilancia-comun-6c0a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484601710811:ios:c0cb117cec6bda2e36e4fe</string>
</dict>
</plist>